*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    height: 1000px;
    padding: 0 0 10px 0;
}
/* 网页导航设置 */
.web-nav{
    width:1000px;
    margin: 5px auto;
    border-radius:10px 10px 0 0;
    background: rgb(15,74,88);
    padding: 5px 10px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size:80px 70px;
    background-position: 0 6px;
    overflow: hidden;   
 }
 .web-nav-list{
    width: 100%;
    border-bottom:1px solid rgb(188,188,190);
    display:inline-block;
    line-height: 50px;
    margin-left:80px ;
    }
li.web-nav-list{
    margin:0;
    width: 150px;
    text-align: center;
    list-style: none;
    border-bottom: 0;
}
h1{
    color:white;
    margin:5px 0px 5px 80px;
    line-height:60px;
}
a:link{
    text-decoration: none;
    color:white;
}

.web-nav a:visited{
    color:aliceblue;
}

/* 主窗部分设置 */
.mainframe{
    width: 1000px;
    height: 800px;
    margin:20px auto;
}
h2,h3{
    line-height: 40px;
}

/* 左立框 */
.leftbox{
    width: 200px;
    height: 800px;
    background-color: rgb(188,188,190);
    bottom: 30px;
    text-align: center;
    color: rgb(45,160,190);
    float: left;
    margin-right: 50px;
}
.leftbox ul{
    text-align: left;
    padding-left: 30px;
}
.chapter-nav a:link{
        color:rgb(45,160,190)
    }
.chapter-nav{
    line-height: 2;
}
.node{
    font-size: 10px;
}

/* 右立框 */
.rightbox{
    display: flex;
    height: 800px;
    flex-direction: column;
    justify-content: space-between;
}
/* 右正文 */
.maintext{
    margin: 0 10px;
    line-height: 1.5;
    overflow-y: auto;
    text-align: justify;
}
.maintext ul{
    padding-left: 20px;
}
.data-nav a{
    line-height: 30px;    
    color: rgb(45,160,190);
}
a:visited{
    color:rgb(45,160,190);
}

/* 注脚 */
footer{
    bottom: 10px;
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
}