 h1{
    color:white;
     background-color:rgb(0,136,221)}
ul{
     border-top:2px solid #000;
     border-bottom:1px solid #000;
     padding:3px;
    }
 li{
     display:inline;
     margin:0px 3px;
      }
 Select{
     font-size:medium;
     width:150px;
      height:30px
      }