 .homepage{
     background: rgb(15,74,88);
 }
.logo {
     float: left; 
     width:60px;
     height:50px;
     margin-right:30px;
 }
.senic{
    float:left;
    margin-right:50px;
}
 h1{
    color:white;
    margin-left: 60px;
}
ul{
    clear: left;
     border-top:2px solid rgb(188,188,190);
     border-bottom:1px solid rgb(188,188,190);
    }
li{
     display:inline-block;
     margin:0px 3px;
     color:white;
     width: 150px;
     height:30px;
     text-align: center;
      }
a:link{color:white;
        text-decoration: none;
    }
a:visited{
    color:aliceblue;
}
.maintext{
   padding-left:50px;
}

footer{
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
}