*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
.mainframe{
    margin: 5px 10px;
}
.web-nav{
    width:100%;
    border-radius:10px;
    background: rgb(15,74,88);
    padding: 5px 10px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size:80px 70px;
    background-position: 0 6px;
 }

 h1{
    color:white;
    line-height:60px;
    margin-left:80px;
}

ul.web-nav-list{
     border-top:3px double rgb(188,188,190);
     border-bottom:1px solid rgb(188,188,190);
     margin: 0px;
    }
li.web-nav-list{
     display:inline-block;
     color:white;
     width:150px;
     height:30px;
     line-height: 30px;             
     text-align: center;
     margin: 5px 10px 5px 10px;
      }

a:link{color:white;
        text-decoration: none;
    }
a:visited{
    color:aliceblue;
}
a:hover{
    background-color: rgb(188,188,190);
}

.mainframe{
    overflow: hidden;
}
 .senic{
    float:left;
    margin:20px 50px 20px 10px;
}
.maintext{
    margin:20px;
}

footer{
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
    position: fixed;
    bottom:5px;
    padding: 1px;
    width: 100%;
    margin-left: 5px;
}