 .homepage{
     background: rgb(15,74,88);
 }
.logo {
     float: left; 
     width:60px;
     height:50px;
     margin-right:30px;
 }
.senic{
    float:left;
    margin-right:50px;
}
 h1{
    color:white;
    margin:0px 5px 5px 60px;
    line-height:60px;
}
ul{
     border-top:3px double rgb(188,188,190);
     border-bottom:1px solid rgb(188,188,190);
    }
li{
     display:inline-block;
     color:white;
     width: 150px;
     height:30px;
     line-height: 30px;              /*行高等于盒子高度，文字上下居中*/
     text-align: center;
     margin: 5px 20px 5px 20px;
      }
a:link{color:white;
        text-decoration: none;
    }
a:visited{
    color:aliceblue;
}
.maintext{
   padding-left:50px;
}

footer{
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
}