*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}

.web-nav{
    width:100%;
    border-radius:10px;
    background: rgb(15,74,88);
    padding: 5px 10px;
    background-image: url(../images/logo.png);
    background-repeat: no-repeat;
    background-size:80px 70px;
    background-position: 0 6px;
 }
 .web-nav-list{
    width: 100%;
    border-bottom:1px solid rgb(188,188,190);
    display:inline-block;
    line-height: 50px;
    margin-left: 80px;
    }
li.web-nav-list{
    margin:0;
    width: 150px;
    text-align: center;
    list-style: none;
    border-bottom: 0;
}
h1{
    color:white;
    margin:5px 0px 5px 80px;
    line-height:60px;
}
.web-nav a:link{
        color:white;
        text-decoration: none;
    }
.web-nav a:visited{
    color:aliceblue;
}
.mainframe{
    margin: 20px 0 0 40px;

.hrnav{
    margin-left:20px;
}
}
.hr-nav a{
    line-height: 30px;    
}


div.hrpagenav{
    width: 200px;
    background-color: rgb(188,188,190);
    margin: 0 10px 0 0;
    bottom: 30px;
    text-align: center;
    color: rgb(45,160,190);
    overflow-y:auto;
}
div.maintext{
    flex:1;
    margin: 0 10px;
}
p{
    text-align: justify;
    }
ul.hrpagenav-list{
    text-align: left;
    line-height: 2;
}
footer{
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
    padding: 5px 10px;
    width: valc(100%-200px-10px);
    margin-left:calc(200px+10px);
    margin-bottom: 5px;
}



