*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding-top: 70px;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}
div.module-nav{
     background: rgb(15,74,88);
     position:fixed;
     top: 2px;
     width: 100%;
     border-radius:10px;
     padding:0 10px;
     z-index: 999;
 }
.logo {
     float: left; 
     width:60px;
     height:50px;
     margin-right:30px;
 }
ul.module-nav-list{
    list-style: none;
     border-bottom:1px solid rgb(188,188,190);
     margin: 0;
     display:flex;
     flex-wrap:wrap;
     justify-content:flex-start;
     gap: 10px;
     padding:5px 0;
    }
li.module-nav-item{
     color:white;
     width:150px;
     height:40px;
     line-height: 40px;              /*行高等于盒子高度，文字上下居中*/
     text-align: center;
  }
h1{
    color:white;
    margin:5px 0px 5px 50px;
    line-height:60px;
    font-size: 1.5rem;
}
a:link{color:white;
        text-decoration: none;
    }
a:visited{
    color:aliceblue;
}
.content-wrapper{
    display:flex;
    min-height: calc(100vh-70px);
}
div.hrpagenav{
    width: 200px;
    background-color: rgb(188,188,190);
    margin: 0 10px 0 0;
    bottom: 30px;
    text-align: center;
    color: rgb(45,160,190);
    overflow-y:auto;
}
div.maintext{
    flex:1;
    margin: 0 10px;
}
p{
    text-align: justify;
}
ul.hrpagenav-list{
    text-align: left;
    line-height: 2;
}
footer{
    border-top: 1px solid rgb(188,188,190);
    color: rgb(188,188,190);
    font-size: small;
    padding: 5px 10px;
    width: valc(100%-200px-10px);
    margin-left:calc(200px+10px);
    margin-bottom: 5px;
}



